:root {
	--background: #15191C;
	--foreground: #DDDDDD;

	--background2: #20252C;
	--foreground2: #45494C;

	--green: #10B661;
	--green2: #0C8747;
	--green3: #086031;
	--red: #D5002F;
	--red2: #990023;
	--red3: #72001A;
}

