:root {
	--navbar-height: 5%;
	--navitem-height: 75%;

	--typing-delay: 0.15s;

	--gnarwhal-spacing: 2%;
	--gnarwhal-border-radius: 6px;
}

html, body {
	margin: 0;
	border: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: var(--background);
}

#navbar {
	position: fixed;
	width: 100%;
	height: var(--navbar-height);
	background-color: var(--background2);

	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);

	display: flex;
	flex-direction: row;
	justify-content: start;
}

.nav_item {
	width: max-content;
	height: 100%;

	cursor: pointer;

	color: var(--foreground);
	font-family: sans-serif;
	font-size: 1.5em;
	white-space: nowrap;
	text-overflow: hidden;

	padding-left: 20px;
	padding-right: 20px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	transition-property: background-color;
	transition-duration: 0.3s;
}

.nav_item:hover,
.nav_item:active {
	background-color: var(--foreground2);
}

.nav_item > img {
	height: 60%;

	border-radius: 10%;

	box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.nav_item > .nav_item_divider {
	width: 20px;
}

.nav_item > p {
	
}

.nav_item_divider {
	width: max-content;

	display: flex;
	align-items: center;
}

.nav_item_border {
	width: 1px;
	height: 70%;

	background-color: var(--foreground2);
}

#nav_item_ludum_dare:hover,
#nav_item_ludum_dare:active {
	background-color: #EE5533;
	color: white;
}

#subpages {
	margin: 0;
	border: 0;
	padding: 0;
	position: relative;
	top: var(--navbar-height);
	width: 100%;
	height: calc(100% - var(--navbar-height));
	max-height: calc(100% - var(--navbar-height));

	display: flex;
	flex-direction: row;
}

.subpage_mask {
	width: 0%;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;

	transition-property: width;
	transition-duration: 0.35s;
}

#_subpage_mask {
	width: 100%;
}

.subpage {
	width: 100vw;
	min-height: 100%;
	height: max-content;
}

.subpage_body {
	width: 100%;
	height: 100%;
}

.construction {
	box-sizing: border-box;
	margin: 0;
	padding: 5%;
	width: 100%;
	color: var(--foreground);
	text-align: center;

	font-family: sans-serif;
	font-size: 3em;
}

#gnarwhal_subpage_body {
	box-sizing: border-box;
	padding-top: var(--gnarwhal-spacing);
}

#gnarwhal_profile {
	margin: var(--gnarwhal-spacing);
	margin-top: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;

	width: 96%;
	height: max-content;

	background-color: var(--background2);

	border-radius: var(--gnarwhal-border-radius);
	overflow: hidden;

	box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
}

#gnarwhal_profile_img {
	width: calc(50% - var(--gnarwhal-spacing) * 2);
}

#gnarwhal_profile_data {
	width: 50%;
	padding: calc(var(--gnarwhal-spacing) * 2);
}

.gnarwhal_profile_datum {
	/*display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;*/
}

.gnarwhal_profile_key {
	margin: 0;
	font-family: sans-serif;
	font-size: 4vw;
	color: var(--foreground);
}

.gnarwhal_profile_value {
	margin: 0;
	font-family: sans-serif;
	font-size: 2vw;
	color: var(--foreground);
}

#gnarwhal_alternate_list {
	width: 100%;
	height: max-content;

	display: flex;
	flex-direction: row;
	justify-content: start;
	flex-wrap: wrap;
}

.gnarwhal_alternate {
	position: relative;
	width: calc((100% - var(--gnarwhal-spacing) * 2));
	height: max-content;

	border-radius: var(--gnarwhal-border-radius);
	overflow: hidden;
	box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);

	background-color: var(--background2);

	color: var(--foreground);
	text-align: center;
	font-size: 1.5em;
	font-family: sans-serif;

	margin-left:   var(--gnarwhal-spacing);
	margin-bottom: var(--gnarwhal-spacing);

	cursor: pointer;
}

.gnarwhal_alternate > .gnarwhal_download_overlay {
	position: absolute;
	opacity: 0;

	transition-property: opacity;
	transition-duration: 0.2s;
}

.gnarwhal_alternate:hover > .gnarwhal_download_overlay {
	opacity: 0.5;
}

.gnarwhal_alternate > img {
	width: 100%;
	display: block;
}

.gnarwhal_download_footer {
	position: relative;
	width: 100%;
	height: max-content;
}

.gnarwhal_download_footer > p {
	margin: 0;
	padding: 1em;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}

.gnarwhal_download {
	position: absolute;
	width: 100%;
	height: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--background2);

	overflow: hidden;

	transition-property: height;
	transition-duration: 0.2s;
}

.gnarwhal_alternate:hover .gnarwhal_download {
	height: 100%;
}

.gnarwhal_download_button {
	margin: 0 5%;
	border: 0;
	padding: 2%;
	width: 20%;
	border-radius: var(--gnarwhal-border-radius);
	color: white;

	text-decoration: none;
}

.gnarwhal_download_button.gnarwhal_svg {
	background-color: var(--green);
}

.gnarwhal_download_button.gnarwhal_svg:hover {
	background-color: var(--green2);
}

.gnarwhal_download_button.gnarwhal_svg:active {
	background-color: var(--green3);
}

.gnarwhal_download_button.gnarwhal_png {
	background-color: var(--red);
}

.gnarwhal_download_button.gnarwhal_png:hover {
	background-color: var(--red2);
}

.gnarwhal_download_button.gnarwhal_png:active {
	background-color: var(--red3);
}

@media only screen and (min-width: 600px) {	
	.gnarwhal_alternate {
		width: calc((100% - var(--gnarwhal-spacing) * 3) / 2);
	}
}

@media only screen and (min-width: 768px) {
	.gnarwhal_alternate {
		width: calc((100% - var(--gnarwhal-spacing) * 4) / 3);
	}
}

@media only screen and (min-width: 992px) {
	.gnarwhal_alternate {
		width: calc((100% - var(--gnarwhal-spacing) * 5) / 4);
	}
}


